{% extends 'base.html.twig' %}
{% block title %} {{ controller_name }} {% endblock %}
{% block body %}
    <div class="example-wrapper text-center">
        <h1>Bienvenue sur {{ controller_name }}!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col md-4">
                <h2 class="text-center">Mon h2</h2>
                <p class="pperso">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi asperiores cumque debitis doloremque ea, eius eligendi eos et facere, fugit hic illum, incidunt ipsum iusto laudantium minus nisi nobis numquam placeat porro quos repellat sunt totam veniam voluptas voluptatem.</p>
                <div class="text-center"><button type="button" class="btn btn-primary mybtn">En savoir plus</button></div>
            </div>
            <div class="col md-4">
                <h2 class="text-center">Mon h2</h2>
                <p class="pperso">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias at atque cupiditate dolor, eaque earum eius error harum iste labore laboriosam libero nam neque obcaecati odio omnis perferendis, qui ratione rem repellendus tempora temporibus, totam ullam voluptate. Neque, praesentium.</p>
                <div class="text-center"><button type="button" class="btn btn-primary mybtn">En savoir plus</button></div>
            </div>
            <div class="col md-4">
                <h2 class="text-center">Mon h2</h2>
                <p class="pperso">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad architecto aspernatur atque consequuntur culpa ea eligendi esse eum fugit ipsam maiores maxime natus neque non nulla officiis perferendis, quas quis quisquam rem reprehenderit repudiandae sed unde vel vero voluptatibus?</p>
                <div class="text-center"><button type="button" class="btn btn-primary mybtn">En savoir plus</button></div>
            </div>
        </div>
    </div>
    <div class="imgdiv"></div>
    <div class="container"></div>
    <div class="container">
        <div class="row">
            <div class="col md-4">
                <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/6/5/2/652a7adb1b_98148_01-intro-773.jpg" alt="Juste une image d'illustration" class="img-thumbnail">
            </div>
            <div class="col md-4">
                <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/6/5/2/652a7adb1b_98148_01-intro-773.jpg" alt="Juste une image d'illustration" class="img-thumbnail">
            </div>
            <div class="col md-4">
                <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/6/5/2/652a7adb1b_98148_01-intro-773.jpg" alt="Juste une image d'illustration" class="img-thumbnail">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center infoavoir">
                <p class="pperso"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac consequat sem. Praesent auctor dolor vitae pulvinar bibendum. Etiam eget pulvinar odio. Nunc eu augue id erat semper egestas nec mattis velit. Maecenas pulvinar imperdiet magna sed rhoncus. Etiam hendrerit, neque ac sodales porta, lorem tellus tincidunt ipsum, ut porta sapien libero ut massa. Morbi ac fermentum ex, at volutpat lacus. Proin posuere eros sit amet placerat tempor. Phasellus ut faucibus dui. Fusce eget placerat odio. Mauris posuere tincidunt augue eleifend commodo. In sit amet felis quam. Donec et ex condimentum lorem faucibus egestas. Suspendisse euismod non augue non rutrum. In mauris turpis, bibendum eget semper non, viverra in velit </p>
            </div>
            <div class="col">
                <div class="imgdiv2"> </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col md-4">
                <p class="pperso">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda at culpa earum eius eligendi incidunt libero sapiente, veniam! Ad animi architecto consequatur deleniti dolorem doloremque dolorum, eaque eligendi est eveniet, illo molestiae obcaecati odio perspiciatis quo velit, vitae voluptate!</p>
                <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/6/5/2/652a7adb1b_98148_01-intro-773.jpg" alt="Juste une image d'illustration" class="img-thumbnail">
            </div>
            <div class="col md-4">
                <p class="pperso">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto blanditiis consequatur, dignissimos distinctio ea eaque enim excepturi iste iure laboriosam magnam maiores molestiae nam nobis officia omnis perferendis possimus quas qui quibusdam quis quo recusandae similique sunt ut.</p>
                <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/6/5/2/652a7adb1b_98148_01-intro-773.jpg" alt="Juste une image d'illustration" class="img-thumbnail">
            </div>
            <div class="col md-4">
                <p class="pperso">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque enim ex rerum veniam! Asperiores dolore fuga hic illo ipsam labore libero magnam minus officiis optio quas quidem quo rem repudiandae, sunt velit voluptatibus? Cum debitis eveniet ex id libero possimus!</p>
                <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/6/5/2/652a7adb1b_98148_01-intro-773.jpg" alt="Juste une image d'illustration" class="img-thumbnail">
            </div>
        </div>
    </div>
{% endblock %}